<a href="https://colab.research.google.com/github/olanrewajuolawumi/3MTTDarey.io/blob/main/03_Data_types_and_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# B. Data types and structures


In the previous section, we mentioned variables can be used to store strings,integers etc.... but what exactly are they?

![Python_data_structures.png](https://drive.google.com/uc?export=view&id=1TsisNUb9AjKHCbkN6dbdLsKHNc69g2mr)


In the image above, you would see "python data structures" is divided into two:

- Primitive: these are the most basic building blocks of data in python. They represent single values of a specific data type (remember we said that variables can be used to store integers, booleans, strings and float). In other words primitve python data structures are also known as `Data types`.

- Non-Primitive
Non-primitive data structures, also known as `composite data types`, are more complex and can store multiple values. They are built using primitive data types and provide ways to organize and manage data efficiently. It is further divided into two:

    - Built-in
    - User defined
    
**For the scope of this course, we'll focus on built in data structures.**

### Primitive data structures

#### 1. Strings (text data)

A string in Python is a sequence of characters enclosed within quotes. It can represent anything from a single letter to an entire sentence.

In [ ]:
#Ore's name as a string
name = 'Ore'

print(name)

# Job title as a string
job_title = "My name is Hannah Igboke"
print(job_title)

Ore
My name is Hannah Igboke

In [ ]:
s = "We are learning python ! "

#print(len(s))
#print(s[2])
#print(s[1])

print(s[-4])
print(s+ 'there')
print(s.lower())
print(s.upper())
print(s.strip())

n
We are learning python ! there
we are learning python !
WE ARE LEARNING PYTHON !
We are learning python !

In [ ]:
print(s.find('learning'))

#returns the index at which the word "learning" starts

7

In [ ]:
s = s.replace('learning', 'studying')
s

'We are studying python ! '

In [ ]:
s_splitted = s.split(" ")

s_splitted

['We', 'are', 'studying', 'python', '!', '']

In [ ]:
print(type(s_splitted))

<class 'list'>

In [ ]:
#joining a list of elements into a single string
#this joins the elements of thes_splitted variable into a sentence or single string with each word seperated from the other by spaces

s_joined = ' '.join(s_splitted)

s_joined

'We are studying python ! '

In [ ]:
y = 'ThatAIguy'

print(y[-9])
print(y[:5])
print(y[::2])  #loops over the string and selects the second letter at each interval
print(y[::4])
print(y[::-1])

T
ThatA
TaAgy
TAy
yugIAtahT

#### 2. Integers (Whole Numbers)
An integer represents whole numbers, both positive and negative, without a decimal point (e.g., 10, -5, 0)

In [ ]:
#What is Ore's age
age = 29
print(age)

# Years of experience as an integer
years_of_experience = 5
print(years_of_experience - age)

29
-24

We just performed an operation in the print statement using the minus mathematical operator. More on operators later.

#### 3. Floats (Decimal Numbers)

A float is a number that contains a decimal point. Floats are often used to represent precise measurements.

In [ ]:
# Ore's weight as a float
weight = 75.4
print(weight)

75.4

#### 4. Booleans (True/False Values)
A boolean represents one of two values: True or False. This data type is used for logical operations.

In [ ]:
# Does Ore frequent the gym:)?
is_gym_goer = True
print(is_gym_goer)

True

### Built in non-primitive data structures

Before we move into the types of non-primitive data structures, first note that for each of the following data structures, that they are specific methods and attributes that work with them that allows us to retrieve information or manipulate them.

**What are attributes and methods?**
Imagine a data structure as a box.

![Box.jpg](https://drive.google.com/uc?export=view&id=10uO85agwmTQsMhPGK3NSmXIFZKRcYpQ6)


`Attributes` are like the labels on the box. They describe what's inside. For example, the box above might have labels like "color," "size," and "material." In Python, a list might have attributes like "length" (how many items are in it) or "type" (whether it's a list of numbers, strings, or something else).

`Methods` are like the tools you can use on the box. They let you do things with the contents. You could have a method to "open the box," "sort the contents by color," or "count the contents." In Python, a list might have methods like "append" (to add a new item), "remove" (to take an item out), or "sort" (to arrange the items in order).

One of the easiest ways to differentiate between an attribute and a method is in how they are used in a code.

Attributes come in the form `function(variable_name)` -- e.g: `type(fruits)`

The type attribute is focused on trying to find out what kind of data structure the fruits box is.

While....

Methods come in the form `variable_name.function()` -- e.g: `fruits.append('apple')`

This adds a new content, apple to the fruits list.


Now we know this, we can now study the data structures for more context.

#### 1. Lists (Ordered Collections)

A list is an ordered collection of items that can be modified. Lists are useful when you need to store different data types. Lists are enclosed in square brackets [].

In [ ]:
#creating an empty list
jobs = []
print(type(jobs))

<class 'list'>

In [ ]:
sea_animals = ['shark', 'dolphin', 'octopus', 'titus']
print(type(sea_animals)) #what kind of data structure?
print(len(sea_animals)) #what is the length of the data structure?

<class 'list'>
4

In [ ]:
#remember we said that data structures could contain multiple types of primitive data structures
sea_animals.append(True) #adding a boolean
sea_animals.append('NASA') #a string
sea_animals.append(20.098) #a float number
sea_animals.append([34, 56, 'Kite']) # adding a list data structure within a list

print(sea_animals)

['shark', 'dolphin', 'octopus', 'titus', True, 'NASA', 20.098, [34, 56, 'Kite']]

Let's do something interesting!!

Imagine a grid of numbers:

|Numbers| | |
|---|---|---|
| 1 | 2 | 3 |
| 4 | 5 | 6 |
| 7 | 8 | 9 |

If you want to point to the number 9, you'd say, "Go to the 3rd row, 3rd column."

In programming terms, we'd express this as:
Row: 2 (since we start counting from 0)

Column: 2

So, to access the number 9 in a program, we'd use something like `grid[2][2]`.

This is called `Indexing`.

Indexing is a fundamental operation in programming that allows you to access specific elements within a data structure.

In [ ]:
#applying indexing to our list

#in our case, we are working with a one dimensional list
print(sea_animals[5])

#this would return the 6th element in the sea_animals list

NASA

In [ ]:
print(sea_animals[7][2])

Kite

The 8th element of the sea_animals list is another list. The code above therefore points to the second value in the internal list in the 7th position of the main list itself.

In [ ]:
print(sea_animals[7][1])

56

In [ ]:
#lists are mutable that means that they can be mofified after they have been created

#modifies the 4th element
sea_animals[3] = 'I will work at NASA someday.'

#modifies the second value of the list at the 8th position
sea_animals[7][1] = 'United states of America'
print(sea_animals)

['shark', 'dolphin', 'octopus', 'I will work at NASA someday.', True, 'NASA', 20.098, [34, 'United states of America', 'Kite']]

In [ ]:
#sorting a list - the list to be sorted should be homogenuous, i.e of the same data types

fold = [1,5,90, 87, 56, 43, 23, 21, 12, 34, 1, 2]

print('list before sorting: ', fold)

fold.sort()

print('list after sorting: ', fold)

list before sorting:  [1, 5, 90, 87, 56, 43, 23, 21, 12, 34, 1, 2]
list after sorting:  [1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90]

In [ ]:
#extending the sea_animals list with the fold list
sea_animals.extend(fold)

print(sea_animals)

['shark', 'dolphin', 'octopus', 'I will work at NASA someday.', True, 'NASA', 20.098, [34, 'United states of America', 'Kite'], 1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90]

In [ ]:
#reversing the list
fold.reverse()
print(fold)

[90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

In [ ]:
#concatenating lists using the '+' operator
print(sea_animals+fold)

['shark', 'dolphin', 'octopus', 'I will work at NASA someday.', True, 'NASA', 20.098, [34, 'United states of America', 'Kite'], 1, 1, 2, 5, 12, 21, 23, 34, 43, 56, 87, 90, 90, 87, 56, 43, 34, 23, 21, 12, 5, 2, 1, 1]

#### 2. Tuple (Immutable Collections)

An ordered collection of items, enclosed in parentheses (). Similar to lists, but they are immutable, meaning their elements cannot be changed after creation.

In [ ]:
#creating an empty tuple
table = ()
print(type(table))

<class 'tuple'>

In [ ]:
#a tuple containing different data types and data structures
table = (1, 'NASA', 'Bill Clinton', 1980, 1, 'FalseTrue', ('Another tuple'), 'NASA',  [1,2,3,4,5])

#applying attributes
print(type(table))
print(len(table))

#using indexing
print(table[2:4]) #selects the 3rd and 4th values in the tuple

<class 'tuple'>
9
('Bill Clinton', 1980)

In [ ]:
#tuples are immutable

table[2] = 'Positive'

TypeError: 'tuple' object does not support item assignment

This returns a TypeError showing that the values are immutable and cannot be changed once they have been created.

In [ ]:
#methods

#this counts the number of occurrence of the value in question
print(table.count('NASA'))

2

#### 3. Sets

An unordered collection of unique items, enclosed in curly braces {} or created using the set() function. Sets do not allow duplicates.

In [ ]:
#one way to intialize sets
this_set = set()
print(type(this_set))

<class 'set'>

In [ ]:
this_set = set([1,1,2,4,5,'NASA'])

print(this_set)
#sets do not allow duplicate values

{1, 2, 4, 5, 'NASA'}

In [ ]:
s = {}
print(type(s))

<class 'dict'>

In [ ]:
#second way to intialize sets
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [ ]:
#sets cannot be indexed
s[2] = 5

TypeError: 'set' object does not support item assignment

In [ ]:
set1 = {1,2,3,4}
set2 = {5,6,7,4}

#operations that can be carried out on sets

#concatenation or union
print(set1|set2)
print(set1.union(set2))

#intersection
print(set1&set2)
print(set1.intersection(set2))

#difference
print(set1-set2)
print(set1.difference(set2))
print(set2-set1)

#symmetric difference -- a set of elements that are either in set1 or set2 but not in both
print(set1^set2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4}
{4}
{1, 2, 3}
{1, 2, 3}
{5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [ ]:
#are sets mutable?
#yes, but not in the same way as lists

my_set = {3,5,7,8,0}

my_set.add('NASA')
print(my_set)

my_set.remove(5)
print(my_set)

{0, 3, 5, 7, 8, 'NASA'}
{0, 3, 7, 8, 'NASA'}

#### 4. Dictionary

An unordered collection of key-value pairs, enclosed in curly braces {}. Each key is unique and associated with a corresponding value.

The key refers to the value before the colon and the key represents the value after the colon.

In [ ]:
dine = {}

dine = {'name': 'Bella', 'food': 'beans', 'instition': 'Amazon', 'snack': 'peanut'}

print(dine)

{'name': 'Bella', 'food': 'beans', 'instition': 'Amazon', 'snack': 'peanut'}

In [ ]:
print(dine['name'])

Bella

In [ ]:
#updating dictioanries - keys are immutable while values are mutable

dine['food'] = 'rice and beans with plantain and vegetable sauce🤗'
dine['school1'] = 'FUTO'
dine['school2'] = 'Stanford University'
dine['book'] = 'Harry Potter'
dine['book2'] = 'GOT'
dine

{'name': 'Bella',
 'food': 'rice and beans with plantain and vegetable sauce🤗',
 'instition': 'Amazon',
 'snack': 'peanut',
 'school1': 'FUTO',
 'school2': 'Stanford University',
 'book': 'Harry Potter',
 'book2': 'GOT'}

In [ ]:
#deleting a key-value pair
del dine['book2']
dine

{'name': 'Bella',
 'food': 'rice and beans with plantain and vegetable sauce🤗',
 'instition': 'Amazon',
 'snack': 'peanut',
 'school1': 'FUTO',
 'school2': 'Stanford University',
 'book': 'Harry Potter'}

In [ ]:
#prints all the keys and values in the dictionary
print("The keys include:", dine.keys(),'\n')
print("The values include:",dine.items())

#where '\n' = line break

The keys include: dict_keys(['name', 'food', 'instition', 'snack', 'school1', 'school2', 'book'])

The values include: dict_items([('name', 'Bella'), ('food', 'rice and beans with plantain and vegetable sauce🤗'), ('instition', 'Amazon'), ('snack', 'peanut'), ('school1', 'FUTO'), ('school2', 'Stanford University'), ('book', 'Harry Potter')])

# Summary

Lists:

- Mutable
- Dynamic as they can increase or be decreased in size
- Ordered collection of items which means it can be indexed and sliced

Tuples:
- Similar to lists
- Immutable
- Allows slicing and indexing

Dictionary:
- Keys are immutable and unique, values are mutable
- Unordered collection of items which means they cannot be indexed

Sets:
- No duplicates are allowed
- Unordered collection of items which means they do not allow indexing or slicing
- They are mutable

# Task

A a program to manage tasks, or a to-do list

In [ ]:
task_status = {'Done', 'In progress', 'Not done'}

my_to_do = {'Tasks': ['Morning routine', 'Chess practice', 'Read book', 'RAG task', 'JIN SM', 'Day 2 DS'],
            'Time(mins)': [120, 20, 60, 120, 30, 90],
            'Status': ['Done', 'Done', 'Done', 'Not done', 'Done', 'In progress']
           }

print("{:<15} {:<15} {:<15}".format('Tasks', 'Time(mins)', 'Status'))

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Tasks           Time(mins)      Status
Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress

In [ ]:
## Features for the program

#1 Add tasks to the to-do list.

new_task = 'Sleep'
time = 60
status = 'Done'

my_to_do['Tasks'].append(new_task)
my_to_do['Time(mins)'].append(time)
my_to_do['Status'].append(status)

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress
Sleep           60              Done

In [ ]:
#2 removing tasks from the to_do list

del my_to_do['Tasks'][6]

my_to_do

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              In progress

In [ ]:
#3 updating tasks

my_to_do['Status'][5] = 'Done'

for task, time, status in zip(my_to_do['Tasks'], my_to_do['Time(mins)'], my_to_do['Status']):
    print("{:<15} {:<15} {:<15}".format(task, time, status))

Morning routine 120             Done
Chess practice  20              Done
Read book       60              Done
RAG task        120             Not done
JIN SM          30              Done
Day 2 DS        90              Done