<a href="https://colab.research.google.com/github/olanrewajuolawumi/3MTTDarey.io/blob/main/11_Concise_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L. Concise Functions

## List Comprehension

They offer a more concise way to create new lists in python. They offer a one-line alternative to using traditional for loops and append statements.

In [ ]:
#Here, we have a list of numbers. We want to check for thr numbers which
#even and then append those values to the nums list

nums = [34, 56, 77, 98, 66, 55, 33, 31, 12, 237]

evens = []

##Solution
for num in nums:
    if num%2 == 0:
        evens.append(num)
print(evens)

[34, 56, 98, 66, 12]

In [ ]:
## List comprehension can do this in a better way

evens = [num for num in nums if num%2 == 0]

print(evens)

[34, 56, 98, 66, 12]

**Syntax**

lst = [expression for i in sequence]

This says for every i in the sequence, apply the expression and add that expression value to the lst

In [ ]:
#example 1

lst = [a for a in 'PYTHON']

lst

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
#example 2

lst = [i**2 for i in range(1,20) if i%2 != 0]
print(lst)


#Here, we are saying that for every i value in the sequence,
#if the i value is an odd number then square it and append to the lst list

#Typically the even numbers will be [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
#And when you square these, you'll see the output

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
#example 3

heros = ['Black Widow', 'Hawkeye', 'Doctor Strange']

#extracting the first character of each name into a list

lst = [word[0] for word in heros]
lst

['B', 'H', 'D']

In [ ]:
#example 4

string = 'The quick fox and the slow tortoise were friends a long time ago'

#convert each word into upper case
#and count the number of characters in each word

lst = [[word.upper(), len(word)] for word in string]
print(lst)

[['T', 1], ['H', 1], ['E', 1], [' ', 1], ['Q', 1], ['U', 1], ['I', 1], ['C', 1], ['K', 1], [' ', 1], ['F', 1], ['O', 1], ['X', 1], [' ', 1], ['A', 1], ['N', 1], ['D', 1], [' ', 1], ['T', 1], ['H', 1], ['E', 1], [' ', 1], ['S', 1], ['L', 1], ['O', 1], ['W', 1], [' ', 1], ['T', 1], ['O', 1], ['R', 1], ['T', 1], ['O', 1], ['I', 1], ['S', 1], ['E', 1], [' ', 1], ['W', 1], ['E', 1], ['R', 1], ['E', 1], [' ', 1], ['F', 1], ['R', 1], ['I', 1], ['E', 1], ['N', 1], ['D', 1], ['S', 1], [' ', 1], ['A', 1], [' ', 1], ['L', 1], ['O', 1], ['N', 1], ['G', 1], [' ', 1], ['T', 1], ['I', 1], ['M', 1], ['E', 1], [' ', 1], ['A', 1], ['G', 1], ['O', 1]]

In [ ]:
#the above capitalizes each letter but this is not what we desire
#to rectify this we use split to seoerate the words from each other

lst = [[word.upper(), len(word)] for word in string.split(' ')]
lst

[['THE', 3],
 ['QUICK', 5],
 ['FOX', 3],
 ['AND', 3],
 ['THE', 3],
 ['SLOW', 4],
 ['TORTOISE', 8],
 ['WERE', 4],
 ['FRIENDS', 7],
 ['A', 1],
 ['LONG', 4],
 ['TIME', 4],
 ['AGO', 3]]

## Anonymous Functions

AKA lambda functions. These are functions defined without a name using the lambda keyword. They are defined in a sinbgle line of code and can only contain one expression which repesents the function's body and return value.

**Syntax:** lambda arguments: expression

In [ ]:
# normal function definition

def square(n):
    return n**2
print(square(5))

25

In [ ]:
#using lambda

lambda_sq = lambda n: n**2

print(lambda_sq(5))

25

In [ ]:
#using lambda with two arguments

prod = lambda a,b: a*b

print(prod(3,4))

12

In [ ]:
#using lambda again and a concept from list comprehension

greater = lambda a,b: a if a>b else b

print(greater(345, 67849))

67849

## filter()

A built-in python functions that allows you to efficiently process an iterable like a tuple, list or string and return a new iterator containing only the elements that meet a certain condition

**Syntax:** filter(function, sequence)

**Problem:**
We have 10 numbers and we want to filter only the even numbers from that list.

In [ ]:
#Using traditional means of problem solving

def isEven(x):
    if x%2 == 0:
        return True
    else:
        return False

lst = [0,1,2,3,4,5,6,7,8,9,10]

filtered_list = filter(isEven, lst)

print(filtered_list)
print(type(filtered_list))

<filter object at 0x000001ADBA1D2790>
<class 'filter'>

In [ ]:
#from the above we can see the result and type of the results, so we need to convert the results to a list

filtered_list = list(filter(isEven, lst))

print(filtered_list)
print(type(filtered_list))

[0, 2, 4, 6, 8, 10]
<class 'list'>

In [ ]:
#Using concise problem solving

lst = [0,1,2,3,4,5,6,7,8,9,10]

filtered_list = list(filter(lambda x: x%2 == 0, lst))

print(filtered_list)

[0, 2, 4, 6, 8, 10]

## map()

Built-in python function used to apply a function to all elements of an iterable and return a new iterator containing the results

**Synatx:** map(function, sequence)

In [ ]:
#EXAMPLE 1
#traditional problem solving

def double(x):
    return 2*x

lst = [1,2,4,5,6]

new_list = list(map(double, lst))
new_list

[2, 4, 8, 10, 12]

In [ ]:
#concise problem solving

new_list = list(map(lambda x: 2*x, lst))
new_list

[2, 4, 8, 10, 12]

In [ ]:
#EXAMPLE 2

#multiplying two lists element wise
list1 = [1,2,3]
list2 = [4,5,6]

new_list = list(map(lambda x,y: x*y, list1, list2))
new_list

[4, 10, 18]

## reduce()

This function is used to reduce a sequence of elements nto a single element by applying the specified function

It is present in the functools module.

**Syntax**

`from functools import *`

`reduce(function, sequence)`

In [ ]:
from functools import *

lst = [1,2,3,4,5,6,7,8,9]

reduced_list = reduce(lambda x,y: x+y, lst)

reduced_list

45